{% extends 'master.html' %}

{% block content%}

<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Products Details</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col" >
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" >
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
               {% for item in cart %}
                {% with product=item.product %}
                <form action="{% url 'cart:cart_add' product.id %}" method="POST">
                {{item.update_product_count_form.update}}
                {% csrf_token %}
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ item.name }}</h2>
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ item.price }}</h3>
                    {{ item.update_product_count_form.product_count }} : {{ item.total_price }}
                    <input type="submit" value="Update" href="{% url 'cart:cart_add' product.id %}">
                    <input type="submit" value="Remove" href="{% url 'cart:cart_remove' product.id %}">

                </form>
          </div>
            {% endwith %}
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}