{% extends 'master.html' %}

{% block content %}

<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Products Details</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col" >
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" >
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <a href="{{ product_detail.geturl }}"><img class="card card-cover h-100 overflow-hidden text-white
                        bg-dark rounded-2 shadow-lg" width="350px" src="{{ product_detail.img.url }}" alt=""></a>
               <form method="POST" action="{% url 'cart:cart_add' product_detail.id %}" >
                {{ cart_add_product_form }}
                {% csrf_token %}
                 <a type="submit">Add To Cart</a>
                <input type="submit" value="Add To Cart">
            </form>
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ product_detail.name }}</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
              </li>
              <li class="d-flex align-items-center me-3">
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

